################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/WeatherReport/v15/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/bin/Debug/netcoreapp1.0/keys.json
